{% extends 'base.html' %}
{% load static %}
{% block 'main' %}

  
  <!--Main section starts-->
  <div class="container">
    <div class="row">
        <div class="col-md-6 d-flex align-items-center justify-content-center">
            <h1 class="text-center mt-5">Sign Up &nbsp;<i class="fa-solid fa-arrow-right-long fa-shake" style="color: #0b419d;"></i></h1>
        </div>
      <div class="col-md-6">
        {% if error %}
        <div class="alert alert-danger mt-1" role="alert">
          {{error}}
          </div>
        {% endif %}
        {% if username %}

<div class="alert alert-success mt-1" role="alert">
    {{username|capfirst}} &nbsp;successfully signed up! Login Now!
  </div>
        {% endif %}
        <form method="POST" action="{% url 'register' %}" class="mt-4"> 
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary mb-5">Register</button>
           <a href="{% url 'LoginPage' %}">Already user?  Click here to Login</a>
        </form>
       
      </div>
    </div>
  </div>
  <!--main ends-->

{% endblock 'main' %}